.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.slideUp {
  transition: all 0.55s ease-out;
  -webkit-transition: all 0.55s ease-out;
  -moz-transition: all 0.55s ease-out;
}

.slideInTablet {
  -webkit-animation-name: slideInTablet;
  animation-name: slideInTablet;
}

.slideInDesktop {
  -webkit-animation-name: slideInDesktop;
  animation-name: slideInDesktop;
}

.slideInMobile {
  -webkit-animation-name: slideInMobile;
  animation-name: slideInMobile;
}

.slideInSmallMobile {
  -webkit-animation-name: slideInSmallMobile;
  animation-name: slideInSmallMobile;
}

@keyframes slideInSmallMobile {
  from {
    opacity: 0;
    margin-top: 7885px;
  }

  to {
    opacity: 1;
    margin-top: -7885px;
  }
}

@keyframes slideInMobile {
  from {
    opacity: 0;
    margin-top: 2055px;
  }

  to {
    opacity: 1;
    margin-top: -2055px;
  }
}

@keyframes slideInTablet {
  from {
    opacity: 0;
    margin-top: 1080px;
  }

  to {
    opacity: 1;
    margin-top: -1080px;
  }
}

@keyframes slideInDesktop {
  from {
    opacity: 0;
    margin-top: 890px;
  }

  to {
    opacity: 1;
    margin-top: -890px;
  }
}
